.modal-fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

label {
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 7px;
  margin-top: 4px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.acciones {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-guardar {
  background-color: #6aa84f;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.btn-cancelar {
  background-color: #ccc;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}
